!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
  body!= body
